body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #495057;
  width: 100%;
  height: 6vh;
  color: #fff;
}
header > input {
  padding: 5px;
  width: 150px;
  border-radius: 5px;
  border: none;
}
header >a{
  text-decoration: none;
  color: #fff;
}
main {
  display: flex;
  justify-content: space-around;
  padding: 30px 230px;
  flex-grow: 1;
}
footer {
  width: 100%;
  height: 6vh;
  font-size: 12px;
  background-color: #495057;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
h1 {
  text-align: center;
  padding-top: 20px;
  font-weight: 500;
}
.show-details {
  padding: 0 200px;
}
.show-details > p {
  padding: 15px 0;
}
.imgStyle {
  width: 100%;
}
.right {
  width: 100%;
  padding: 20px;
}
.season-cast {
  padding: 20px;
  font-size: 15px;
}
